.App {
  text-align: center;
}

#ufoCanvas {
  border: 1px solid rgb(22, 19, 19);
  margin: 0 auto;
  display: block;

  background-image: url("images/bg.png");
  background-size: cover;
  background-position: top center;
}
