body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background-color: #2a3a47; */
  /* background: rgb(36,18,0); */
  background: linear-gradient(90deg, rgba(3,1,1,3) 2%, rgba(36,18,36,36) 2%, rgba(3,1,1,3) 2%);
  /* background-image: url("images/starspin1.gif"); */
  /* background-image: url("images/ypen.gif"); */
  
  /* border: 1px solid rgb(186, 13, 13); */
  /* background: linear-gradient(90deg, rgba(36,18,0,1) 0%, rgba(9,31,121,0.6853335084033614) 60%, rgba(0,212,255,1) 100%); */
  /* background: linear-gradient(90deg, rgba(36,18,0,1) 0%, rgba(9,31,121,0.6853335084033614) 60%, rgba(0,212,255,1) 100%); */



  
}